<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUvX04aG7yWeec1ToUPWo4WGdpV0Xle2o</string>
	<key>GCM_SENDER_ID</key>
	<string>431455097349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.nwmissouri.CampusExplorer</string>
	<key>PROJECT_ID</key>
	<string>campus-explorer-4c66e</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-explorer-4c66e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431455097349:ios:0f38d14e8fe28f7d17426c</string>
</dict>
</plist>